/data/
GUI
# Ignore the entire folder
/ReadmePdf/*
/Vortrag/*

# Include .tex and .pdf files within the excluded folder
!/ReadmePdf/*.tex
!/ReadmePdf/*.pdf
!/Vortrag/*.tex
!/Vortrag/Vortrag.pdf
!/Vortrag/Vortrag.tex
!/Vortrag/Ausarbeitung/
!/Vortrag/Pictures/
!/Vortrag/Stichpunkte.txt
